
.navbar{
    height: 78.49px!important;
    background-color: #F0F0F0!important;
    margin-bottom: 20px;
}

.navbarBrand{
    height: 36.57px;
    width: 75.77px;
}

.navListConatiner{
    font-size: 0.85rem;
}

.navListConatiner .nav-link{
    color: #000000;
}

.navListConatiner .active .nav-link{
    color:#E6E6E6;
}

.iconWrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    font-size: 1.3rem;
}

.wishListIcon, .cartIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.3rem;
}

.wishListCount, .cartIconCount{
    position: absolute;
    font-size: 0.7rem;
    background: #18427c;
    padding: 0 5px;
    border-radius: 50%;
    right: -9px;
    top: -6px;
    color: #E6E6E6;
}

