.button {
  padding: 5px 20px;
  border-radius: 30px;
  width: 230px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: none;
}

.button.small {
  width: 20px;
}

.button.primary {
  background-color: black;
  color: white;
}

.button.primary:hover {
  background-color: gray;
  color: white;
}

.button.secondary {
  background-color: transparent;
  color: black;
}

.button.Received {
  background-color: #b7e5bc;
  color: #006d0e;
  border: 0;
}
.button.Cancelled {
  background-color: #f4c1c1;
  border: 0;
  color: #9b2307;
}
.button.Shipped {
  background-color: #cccccc;
  border: 0;
  color: #666666;
}
.button.Pending {
  background-color: #f2d6bb;
  border: 0;
  color: #98530c;
}

.button.secondary:hover {
  background-color: gray;
  color: white;
}

.text_input {
  border: 0;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.checkbox_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.checkbox_container input {
  margin-right: 10px;
}

.accordion_container {
}

.accordion_container button {
  background: none;
  border: none;
}

.accordion_body svg {
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.accordion_container .rotate_90 {
  transform: rotate(270deg);
  transition: all 0.6s ease;
}
.accordion_container .rotate_0 {
  transform: rotate(360deg);
  transition: all 0.6s ease;
}

.accordion_container .accordion_body {
  margin-left: 20px;
  transition: all 0.6s ease;
  max-height: 0;
  overflow: hidden;
}

.accordion_container .accordion_body.open {
  height: auto;
  max-height: 9999px;
  transition: all 0.6s ease;
}

.check_list {
  margin: 10px 0;
}

.check_list input {
  position: absolute;
  visibility: hidden;
}

.check_list p {
  margin: 0;
  margin-left: 20px;
}

.check_list label {
  height: 20px;
  width: 20px;
  background-color: none;
  border-radius: 50%;
  border: 1px solid black;
}

.check_list input:checked + label {
  background-color: black;
}
