.container {
  padding: 0 2rem;
  background-color: #f0f0f0;
  margin: 0;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100% !important;
}

.arrow {
  position: sticky;
  margin-top: 467px;
  bottom: 10px;
  cursor: pointer;
}

.distributorsSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 768px;
}

.distributorsSectionWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  height: 431px;
}

.distImageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.distImageCard span {
  margin-top: 30px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 2px 15px;
  cursor: pointer;
}

.distImageCard span p {
  font-size: 0.8rem;
  margin-right: 10px !important;
}

.link_with_arrow {
  margin-top: 30px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.partnersSection {
  height: 768px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnersSectionWrapper {
  width: 70%;
}

.name {
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.statsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 768px;
  position: relative;
  align-items: center;
}

.statLabel {
  font-size: 0.9rem;
}

.statsSectionWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.statCircle {
  padding: 80px;
  border-radius: 50%;
  height: 217.82px;
  width: 217.82px;
  background-color: #1e3f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65.41px;
  color: #f0f0f0;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.statLinkNext {
  position: absolute;
  bottom: 40px;
}

.statLinkNext a {
  /* padding: 2px 15px; */
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
}

.statLinkNext img {
  padding-left: 10px !important;
}

.statLabel {
  margin-top: 20px;
}

.mapSection {
  height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.mapSectionWrapper {
  display: flex;
  width: 75%;
}

.contactForm {
  padding: 20px;
  margin: 20px 0;
}

.listStye {
  list-style: none;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.overview_body_container {
  width: 80%;
}

.overview_body_container .chart_container {
  height: 60vh;
  width: 100%;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  border-radius: 15px;
  border: 1px solid #999999;
}
.second_container {
  height: 40vh;
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 60% auto;
  grid-gap: 5% 1%;
}

@media (max-width: 760px) {
  .second_container {
    grid-template-columns: 100%;
    height: auto;
    grid-template-rows: auto;
  }
  .statsSectionWrapper {
    width: 100vw;
    overflow: auto;
  }
  .distributorsSectionWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .partnersSection {
    height: auto;
    padding-top: 30px;
  }
  .partnersSectionWrapper {
  }

  .partnersSectionWrapper > div {
    flex-flow: column nowrap;
  }
  .partnersSectionWrapper > div > div {
    margin-bottom: 20px;
  }
}

.second_container > div {
  border: 1px solid #999999;
  background-color: #e6e6e6;
  border-radius: 15px;
  padding: 15px;
}
.table {
  height: 50vh;
  width: 100%;
  margin-bottom: 20px;
  background-color: #e6e6e6;
}

.chart_container p,
.chart_container .text-8em {
  font-size: 0.8em;
}

.chart_container > div > div > * {
}
