@media (max-width: 760px) {
  .container {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
  }
  .container > div {
    width: 100%;
  }
  .container > div > div {
    width: 100%;
  }
  .mainFormContainer {
    padding: 0;
    margin-top: 20px;
  }
}
